MONGO_URI=
SESSION_SECRET=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=
MAILGUN_API_URL=https://api.mailgun.net

CONTACT_NOTIFY_TO=rduff@hexforgelabs.com
CONTACT_NOTIFY_FROM=

TO_EMAIL=
BCC_EMAIL=
